<aside class="sidebar bg-gray-900 text-white h-full w-[240px] p-4">
  <div class="text-white mb-3 text-4xl">
    Know<span class="font-extralight">Base</span>
  </div>
  <ng-icon name="octListUnordered" color="red"></ng-icon>
  <nav>
    <ul>
      <li class="p-2 hover:bg-gray-700 cursor-pointer">Home</li>
      <li class="p-2 hover:bg-gray-700 cursor-pointer">About</li>
      <li class="p-2 hover:bg-gray-700 cursor-pointer">Gallery</li>
      <li class="p-2 hover:bg-gray-700 cursor-pointer">Contact</li>
    </ul>
  </nav>
</aside>
