<!-- bottom-toolbar.component.html -->
<div class="fixed bottom-0 left-1/2 transform -translate-x-1/2 w-full bg-gray-800 py-4 shadow-lg z-50">
    <!-- <div class="flex justify-center items-center">
      <button class="flex flex-col items-center justify-center space-y-2 text-white hover:opacity-80 focus:outline-none">
        <ng-icon name="text"  class="text-2xl"></ng-icon>
        <span class="text-xs">Text</span>
      </button>
      <button class="flex flex-col items-center justify-center space-y-2 text-white hover:opacity-80 focus:outline-none">
        <ng-icon name="file-media" class="text-2xl"></ng-icon>
        <span class="text-xs">Image</span>
      </button>
      <button class="flex flex-col items-center justify-center space-y-2 text-white hover:opacity-80 focus:outline-none">
        <ng-icon name="flame"  class="text-2xl"></ng-icon>
        <span class="text-xs">Flashcard</span>
      </button> -->
      <fa-icon [icon]="faCoffee"></fa-icon>
    
    
  </div>
  