<div
  class="flex justify-end bg-[url('/images/auth-wallpaper.jpg')] h-dvh bg-cover bg-fixed bg-center"
>
  <div class="h-full bg-gray-950 flex flex-col p-10 w-[540px]">
    <h2 class="text-white mb-3">
      Know<span class="font-extralight">Base</span>
    </h2>
    <p class="text-white mb-6 text-lg">
      Twórz niesamowitę i kreatywne bazy wiedzy dla Siebie i innych na twoich
      zasadach!
    </p>
    <div>
      <div class="flex justify-center">
        <div id="g_id_onload"
        [attr.data-client_id]="GOOGLE_CLIENT_KEY"
        data-context="signin"
        data-ux_mode="popup"
        data-callback="handleOauthResponse"
        data-auto_select="true"
        data-itp_support="true">
   </div>
   
   <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
   </div>
      </div>

      <div class="flex justify-center my-6 text-slate-400">OR</div>
      <div>
        <div class="flex text-white text-xl mb-8">
          <div
            *ngFor="let tab of authTabsData"
            class="text-center border-b-gray-600 border-b-4 text-gray-600 p-2 py-3 w-full cursor-pointer transition hover:bg-gray-800"
            [ngClass]="{ 'active-tab': tab.mode === selectedAuthMode() }"
            (click)="switchMode(tab.mode)"
          >
            {{ tab.title }}
          </div>
        </div>

        <form class="flex gap-8 flex-col mb-8" [formGroup]="authForm">
          <shared-basic-input label="Email" formControlName="email" />
          <div>
            <shared-basic-input
              label="Password"
              type="password"
              formControlName="password"
            />

            <p
              class="text-red-500 mt-2"
              *ngIf="
                authForm.get('password')?.dirty &&
                authForm.get('password')?.invalid
              "
            >
              Wpisz silne hasło (Duże i małe litery, znaki specjalne, cyfry,
              min. 8 znaków) !
            </p>
          </div>

          @if (selectedAuthMode() === authModes.REGISTER) {
            <shared-basic-input
              label="Confirm password"
              type="password"
              formControlName="confirmPassword"
            />
          }

          <button
            class="btn-primary mt-3"
            [disabled]="authForm.invalid"
            (click)="
              selectedAuthMode() === authModes.LOGIN ? login() : register()
            "
          >
            {{ selectedAuthMode() === authModes.LOGIN ? "Login" : "Register" }}
          </button>
          <p *ngIf="selectedAuthMode() === authModes.LOGIN" class="text-center">
            Nie masz konta?
            <span
              class="text-blue-500 hover:underline cursor-pointer"
              (click)="switchMode(authModes.REGISTER)"
            >
              Przełącz na Rejestracje
            </span>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
